In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
import pandas as pd

In [3]:
bond = pd.read_csv("jamesbond.csv")
# bond.head(3)
bond

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
3,Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
4,Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
5,You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4
6,On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
7,Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
8,Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
9,The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
10,The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
11,Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
12,For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
13,Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
14,Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
15,A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
16,The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
17,Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
18,GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
19,Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
20,The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
21,Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
22,Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
23,Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
24,Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
25,Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN

In [4]:
bond.loc[2][2]
bond.loc[2]

'Sean Connery'

Film                   Goldfinger
Year                         1964
Actor                Sean Connery
Director             Guy Hamilton
Box Office                  820.4
Budget                       18.6
Bond Actor Salary             3.2
Name: 2, dtype: object

## The `.set_index()` and `.reset_index()` Methods

In [5]:
pwd

'C:\\Users\\Abhishek\\Desktop\\Resource pandas\\udemyPanda\\CompletedCourseFiles'

In [6]:
bond = pd.read_csv("jamesbond.csv")
bond.head(3)

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2

In [7]:
bond.set_index("Film", inplace = True)
bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2

In [8]:
bond.reset_index()

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
3,Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
4,Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
5,You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4
6,On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
7,Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
8,Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
9,The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
10,The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
11,Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
12,For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
13,Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
14,Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
15,A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
16,The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
17,Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
18,GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
19,Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
20,The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
21,Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
22,Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
23,Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
24,Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
25,Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN

In [9]:
bond.reset_index(drop = False,inplace = True)
bond.head(3)

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2

In [10]:
bond.set_index("Film",drop = False, inplace = True)
bond.head(3)

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,,
Dr. No,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2

In [11]:
# If reset is not used(after using INPLACE argument) then it wipes the Film column

# bond.reset_index(inplace = True)


bond.set_index("Year", inplace = True)
bond.head(3)

,Film,Actor,Director,Box Office,Budget,Bond Actor Salary
Year,,,,,,
1962,Dr. No,Sean Connery,Terence Young,448.8,7.0,0.6
1963,From Russia with Love,Sean Connery,Terence Young,543.8,12.6,1.6
1964,Goldfinger,Sean Connery,Guy Hamilton,820.4,18.6,3.2

## Retrieve Rows by Index Label with `.loc[]`

In [12]:
# index_col makes index while importing
bond = pd.read_csv("jamesbond.csv", index_col = "Film")

# Good practise to sort things. Sorting an index accelerates extraction process.
bond.sort_index(inplace = True)
bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [13]:
type(bond.loc["GoldenEye", ["Year","Actor"]])
type(bond.loc["GoldenEye"][["Year","Actor"]])

pandas.core.series.Series

pandas.core.series.Series

In [14]:
bond[["Year","Budget", "Actor"]]

                                 Year  Budget           Actor
Film
A View to a Kill                 1985    54.5     Roger Moore
Casino Royale                    2006   145.3    Daniel Craig
Casino Royale                    1967    85.0     David Niven
Diamonds Are Forever             1971    34.7    Sean Connery
Die Another Day                  2002   154.2  Pierce Brosnan
Dr. No                           1962     7.0    Sean Connery
For Your Eyes Only               1981    60.2     Roger Moore
From Russia with Love            1963    12.6    Sean Connery
GoldenEye                        1995    76.9  Pierce Brosnan
Goldfinger                       1964    18.6    Sean Connery
Licence to Kill                  1989    56.7  Timothy Dalton
Live and Let Die                 1973    30.8     Roger Moore
Moonraker                        1979    91.5     Roger Moore
Never Say Never Again            1983    86.0    Sean Connery
Octopussy                        1983    53.9     Roger Moore
On Her Majesty's Secret Service  1969    37.3  George Lazenby
Quantum of Solace                2008   181.4    Daniel Craig
Skyfall                          2012   170.2    Daniel Craig
Spectre                          2015   206.3    Daniel Craig
The Living Daylights             1987    68.8  Timothy Dalton
The Man with the Golden Gun      1974    27.7     Roger Moore
The Spy Who Loved Me             1977    45.1     Roger Moore
The World Is Not Enough          1999   158.3  Pierce Brosnan
Thunderball                      1965    41.9    Sean Connery
Tomorrow Never Dies              1997   133.9  Pierce Brosnan
You Only Live Twice              1967    59.9    Sean Connery

In [15]:
bond.loc["GoldenEye"]["Year":"Budget"]
bond.loc["GoldenEye"][["Year","Actor"]]
type(bond.loc["GoldenEye"][["Year","Actor"]])

Year                     1995
Actor          Pierce Brosnan
Director      Martin Campbell
Box Office              518.5
Budget                   76.9
Name: GoldenEye, dtype: object

Year               1995
Actor    Pierce Brosnan
Name: GoldenEye, dtype: object

pandas.core.series.Series

In [16]:
bond.loc["GoldenEye"][["Year","Actor"]]
bond.loc["GoldenEye", ["Year","Actor"]]

Year               1995
Actor    Pierce Brosnan
Name: GoldenEye, dtype: object

Year               1995
Actor    Pierce Brosnan
Name: GoldenEye, dtype: object

In [17]:
bond.loc["GoldenEye", ["Year","Actor"]]
type(bond.loc["GoldenEye", ["Year","Actor"]])

Year               1995
Actor    Pierce Brosnan
Name: GoldenEye, dtype: object

pandas.core.series.Series

In [18]:
bond.loc["Goldfinger"]
bond.loc["GoldenEye"]
# bond.loc["Sacred Bond"]
bond.loc["GoldenEye"][["Year","Actor"]]
# bond.loc["GoldenEye", ["Year","Actor"]]

Year                         1964
Actor                Sean Connery
Director             Guy Hamilton
Box Office                  820.4
Budget                       18.6
Bond Actor Salary             3.2
Name: Goldfinger, dtype: object

Year                            1995
Actor                 Pierce Brosnan
Director             Martin Campbell
Box Office                     518.5
Budget                          76.9
Bond Actor Salary                5.1
Name: GoldenEye, dtype: object

Year               1995
Actor    Pierce Brosnan
Name: GoldenEye, dtype: object

In [19]:
bond.loc["Diamonds Are Forever" : "Moonraker"]
bond.loc["Golden Eye":]

bond.loc[: "On Her Majesty's Secret Service"]

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6

In [20]:
bond.loc[["Octopussy", "Moonraker"]]

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN

In [21]:
# bond.loc[["For Your Eyes Only", "Live and Let Die", "Gold Bond"]]

In [22]:
"Gold Bond" in bond.index

False

## Retrieve Row(s) by Index Position with `iloc`

### Index position for index_labels( any custom index)

In [23]:
bond = pd.read_csv("jamesbond.csv")
bond.head(15)

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
3,Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
4,Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
5,You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4
6,On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
7,Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
8,Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
9,The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
10,The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
11,Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
12,For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
13,Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
14,Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8

In [24]:
bond.iloc[13]
bond.loc[13]

Film                 Never Say Never Again
Year                                  1983
Actor                         Sean Connery
Director                    Irvin Kershner
Box Office                           380.0
Budget                                86.0
Bond Actor Salary                      NaN
Name: 13, dtype: object

Film                 Never Say Never Again
Year                                  1983
Actor                         Sean Connery
Director                    Irvin Kershner
Box Office                           380.0
Budget                                86.0
Bond Actor Salary                      NaN
Name: 13, dtype: object

In [25]:
bond.loc[15]
bond.iloc[15]

bond.iloc[[15, 20]]
bond.iloc[:4]
bond.iloc[4:8]
bond.iloc[20:]

Film                 A View to a Kill
Year                             1985
Actor                     Roger Moore
Director                    John Glen
Box Office                      275.2
Budget                           54.5
Bond Actor Salary                 9.1
Name: 15, dtype: object

Film                 A View to a Kill
Year                             1985
Actor                     Roger Moore
Director                    John Glen
Box Office                      275.2
Budget                           54.5
Bond Actor Salary                 9.1
Name: 15, dtype: object

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
15,A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
20,The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
3,Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
4,Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
5,You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4
6,On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
7,Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
20,The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
21,Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
22,Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
23,Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
24,Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
25,Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN

In [26]:
bond = pd.read_csv("jamesbond.csv", index_col = "Film")
bond.sort_index(inplace = True)
bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [27]:
# bond.loc[1]
bond.iloc[1]

Year                            2006
Actor                   Daniel Craig
Director             Martin Campbell
Box Office                     581.5
Budget                         145.3
Bond Actor Salary                3.3
Name: Casino Royale, dtype: object

In [28]:
bond.iloc[[5, 10, 15, 20]]

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN

## The Catch-All `.ix[]` Method

In [29]:
bond = pd.read_csv("jamesbond.csv", index_col = "Film")
bond.sort_index(inplace = True)
bond.head(3)
# type(bond.ix["GoldenEye"])

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [30]:
# bond.ix["GoldenEye"]
# bond.ix[["Diamonds are Forever", "Moonraker", "Spectre"]]
# bond.ix["A View to a Kill" : "The World Is Not Enough"]
# # bond.ix["Sacred Bond"]
# bond.ix[["Spectre", "Sacred Bond"]]

"Spectre" in bond.index
"Sacred Bond" in bond.index

True

False

In [31]:
bond = pd.read_csv("jamesbond.csv", index_col = "Film")
bond.sort_index(inplace = True)
bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [32]:
bond.loc["Moonraker", "Year": "Budget"]

Year                   1979
Actor           Roger Moore
Director      Lewis Gilbert
Box Office            535.0
Budget                 91.5
Name: Moonraker, dtype: object

In [33]:
bond.loc["Moonraker", ["Actor", "Budget", "Year"]]
bond.loc["Moonraker", "Year": "Budget"]
bond.iloc[14, [5, 3, 2]]

# bond.ix[20, "Budget"]
# bond.ix["The Man with the Golden Gun", :4]
# bond.ix[5, 3]

Actor     Roger Moore
Budget           91.5
Year             1979
Name: Moonraker, dtype: object

Year                   1979
Actor           Roger Moore
Director      Lewis Gilbert
Box Office            535.0
Budget                 91.5
Name: Moonraker, dtype: object

Bond Actor Salary          7.8
Box Office               373.8
Director             John Glen
Name: Octopussy, dtype: object

## Set New Values for a Specific Cell or Row

In [34]:
bond = pd.read_csv("jamesbond.csv", index_col = "Film")
bond.sort_index(inplace = True)
bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [35]:
bond.loc[["Octopussy", "Casino Royale"]]["Year"]
type(bond.loc["Octopussy"][ "Actor"])
bond.loc["Octopussy"][ "Actor"]

Film
Octopussy        1983
Casino Royale    2006
Casino Royale    1967
Name: Year, dtype: int64

str

'Roger Moore'

In [36]:
bond.sort_index(axis =1)

,Actor,Bond Actor Salary,Box Office,Budget,Director,Year
Film,,,,,,
A View to a Kill,Roger Moore,9.1,275.2,54.5,John Glen,1985
Casino Royale,Daniel Craig,3.3,581.5,145.3,Martin Campbell,2006
Casino Royale,David Niven,NaN,315.0,85.0,Ken Hughes,1967
Diamonds Are Forever,Sean Connery,5.8,442.5,34.7,Guy Hamilton,1971
Die Another Day,Pierce Brosnan,17.9,465.4,154.2,Lee Tamahori,2002
Dr. No,Sean Connery,0.6,448.8,7.0,Terence Young,1962
For Your Eyes Only,Roger Moore,NaN,449.4,60.2,John Glen,1981
From Russia with Love,Sean Connery,1.6,543.8,12.6,Terence Young,1963
GoldenEye,Pierce Brosnan,5.1,518.5,76.9,Martin Campbell,1995
Goldfinger,Sean Connery,3.2,820.4,18.6,Guy Hamilton,1964
Licence to Kill,Timothy Dalton,7.9,250.9,56.7,John Glen,1989
Live and Let Die,Roger Moore,NaN,460.3,30.8,Guy Hamilton,1973
Moonraker,Roger Moore,NaN,535.0,91.5,Lewis Gilbert,1979
Never Say Never Again,Sean Connery,NaN,380.0,86.0,Irvin Kershner,1983
Octopussy,Roger Moore,7.8,373.8,53.9,John Glen,1983
On Her Majesty's Secret Service,George Lazenby,0.6,291.5,37.3,Peter R. Hunt,1969
Quantum of Solace,Daniel Craig,8.1,514.2,181.4,Marc Forster,2008
Skyfall,Daniel Craig,14.5,943.5,170.2,Sam Mendes,2012
Spectre,Daniel Craig,NaN,726.7,206.3,Sam Mendes,2015
The Living Daylights,Timothy Dalton,5.2,313.5,68.8,John Glen,1987
The Man with the Golden Gun,Roger Moore,NaN,334.0,27.7,Guy Hamilton,1974
The Spy Who Loved Me,Roger Moore,NaN,533.0,45.1,Lewis Gilbert,1977
The World Is Not Enough,Pierce Brosnan,13.5,439.5,158.3,Michael Apted,1999
Thunderball,Sean Connery,4.7,848.1,41.9,Terence Young,1965
Tomorrow Never Dies,Pierce Brosnan,10.0,463.2,133.9,Roger Spottiswoode,1997
You Only Live Twice,Sean Connery,4.4,514.2,59.9,Lewis Gilbert,1967

In [37]:
type(bond.loc[["Octopussy", "Casino Royale"]])
bond.loc[["Octopussy", "Casino Royale"]]["Year"]

pandas.core.frame.DataFrame

Film
Octopussy        1983
Casino Royale    2006
Casino Royale    1967
Name: Year, dtype: int64

In [38]:
# bond.ix["Dr. No"]
# bond.ix["Dr. No", "Actor"]

In [39]:
# bond.ix["Dr. No", "Actor"] = "Sir Sean Connery"

In [40]:
# bond.ix["Dr. No", ["Box Office", "Budget", "Bond Actor Salary"]] = [448800000, 7000000, 600000]

In [41]:
# bond.ix["Dr. No", "Budget"]

## Set Multiple Values in `DataFrame`

In [42]:
bond = pd.read_csv("jamesbond.csv", index_col = "Film")
bond.sort_index(inplace = True)
bond.head(6)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6

In [43]:
mask = bond["Actor"] == "Sean Connery"

# Bracket syntax gives a brand new dataframe.
bond[mask]["Actor"] = "Sir Sean Connery"

C:\Users\Abhishek\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [44]:
# bond.ix[mask, "Actor"] = "Sir Sean Connery"
mask = bond["Actor"] == "Sean Connery"

bond.loc[mask, "Actor"] = "Sir Connery"
bond

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sir Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Dr. No,1962,Sir Connery,Terence Young,448.8,7.0,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
From Russia with Love,1963,Sir Connery,Terence Young,543.8,12.6,1.6
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Goldfinger,1964,Sir Connery,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
Never Say Never Again,1983,Sir Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Thunderball,1965,Sir Connery,Terence Young,848.1,41.9,4.7
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
You Only Live Twice,1967,Sir Connery,Lewis Gilbert,514.2,59.9,4.4

In [45]:
# Below line gives a brand new copy of dataframe, a slice of orignial.
bond[bond["Actor"] == "Sean Connery"] = "Sir"
bond
# bond.ix[bond["Actor"] == "Roger Moore"]

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sir Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Dr. No,1962,Sir Connery,Terence Young,448.8,7.0,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
From Russia with Love,1963,Sir Connery,Terence Young,543.8,12.6,1.6
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Goldfinger,1964,Sir Connery,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
Never Say Never Again,1983,Sir Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Thunderball,1965,Sir Connery,Terence Young,848.1,41.9,4.7
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
You Only Live Twice,1967,Sir Connery,Lewis Gilbert,514.2,59.9,4.4

## Rename Index Labels or Columns in a `DataFrame`

In [46]:
bond = pd.read_csv("jamesbond.csv", index_col = "Film")
bond.sort_index(inplace = True)
bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [47]:
bond.axes[1].name

In [48]:
bond.columns.name = "mycol2"
bond.index.name = "myrow2"
bond.head()
bond.axes

mycol2,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
myrow2,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9

[Index(['A View to a Kill', 'Casino Royale', 'Casino Royale',
        'Diamonds Are Forever', 'Die Another Day', 'Dr. No',
        'For Your Eyes Only', 'From Russia with Love', 'GoldenEye',
        'Goldfinger', 'Licence to Kill', 'Live and Let Die', 'Moonraker',
        'Never Say Never Again', 'Octopussy', 'On Her Majesty's Secret Service',
        'Quantum of Solace', 'Skyfall', 'Spectre', 'The Living Daylights',
        'The Man with the Golden Gun', 'The Spy Who Loved Me',
        'The World Is Not Enough', 'Thunderball', 'Tomorrow Never Dies',
        'You Only Live Twice'],
       dtype='object', name='myrow2'),
 Index(['Year', 'Actor', 'Director', 'Box Office', 'Budget',
        'Bond Actor Salary'],
       dtype='object', name='mycol2')]

In [49]:
bond.head(3)

mycol2,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
myrow2,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [50]:
bond.rename(columns = {"Year" : "Release Date", "Box Office" : "Revenue"}, inplace = True)

In [51]:
bond.head(1)

mycol2,Release Date,Actor,Director,Revenue,Budget,Bond Actor Salary
myrow2,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1

In [52]:
bond.rename(index = {"Dr. No" : "Doctor No", 
                     "GoldenEye" : "Golden Eye",
                    "The World Is Not Enough" : "Best Bond Movie Ever"}, inplace = True)

In [53]:
# bond.ix["Best Bond Movie Ever"]

In [54]:
bond.sort_index()

mycol2,Release Date,Actor,Director,Revenue,Budget,Bond Actor Salary
myrow2,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Best Bond Movie Ever,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Doctor No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Golden Eye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

In [55]:
bond.columns = ["Year of Release", "Actor", "Director", "Gross", "Cost", "Salary"]

In [56]:
bond.head(3)

,Year of Release,Actor,Director,Gross,Cost,Salary
myrow2,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

## Delete Rows or Columns from a `DataFrame`

In [57]:
import pandas as pd

In [58]:
bond = pd.read_csv("jamesbond.csv", index_col = "Film")
bond.sort_index(inplace = True)
bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [59]:
# bond.drop("Casino Royale", inplace = True)
bond.drop(labels = ["Box Office", "Bond Actor Salary", "Actor"], axis = "columns", inplace = True)

In [60]:
bond

                                 Year            Director  Budget
Film
A View to a Kill                 1985           John Glen    54.5
Casino Royale                    2006     Martin Campbell   145.3
Casino Royale                    1967          Ken Hughes    85.0
Diamonds Are Forever             1971        Guy Hamilton    34.7
Die Another Day                  2002        Lee Tamahori   154.2
Dr. No                           1962       Terence Young     7.0
For Your Eyes Only               1981           John Glen    60.2
From Russia with Love            1963       Terence Young    12.6
GoldenEye                        1995     Martin Campbell    76.9
Goldfinger                       1964        Guy Hamilton    18.6
Licence to Kill                  1989           John Glen    56.7
Live and Let Die                 1973        Guy Hamilton    30.8
Moonraker                        1979       Lewis Gilbert    91.5
Never Say Never Again            1983      Irvin Kershner    86.0
Octopussy                        1983           John Glen    53.9
On Her Majesty's Secret Service  1969       Peter R. Hunt    37.3
Quantum of Solace                2008        Marc Forster   181.4
Skyfall                          2012          Sam Mendes   170.2
Spectre                          2015          Sam Mendes   206.3
The Living Daylights             1987           John Glen    68.8
The Man with the Golden Gun      1974        Guy Hamilton    27.7
The Spy Who Loved Me             1977       Lewis Gilbert    45.1
The World Is Not Enough          1999       Michael Apted   158.3
Thunderball                      1965       Terence Young    41.9
Tomorrow Never Dies              1997  Roger Spottiswoode   133.9
You Only Live Twice              1967       Lewis Gilbert    59.9

In [61]:
# actor = bond.pop("Actor")

In [62]:
# actor
bond

                                 Year            Director  Budget
Film
A View to a Kill                 1985           John Glen    54.5
Casino Royale                    2006     Martin Campbell   145.3
Casino Royale                    1967          Ken Hughes    85.0
Diamonds Are Forever             1971        Guy Hamilton    34.7
Die Another Day                  2002        Lee Tamahori   154.2
Dr. No                           1962       Terence Young     7.0
For Your Eyes Only               1981           John Glen    60.2
From Russia with Love            1963       Terence Young    12.6
GoldenEye                        1995     Martin Campbell    76.9
Goldfinger                       1964        Guy Hamilton    18.6
Licence to Kill                  1989           John Glen    56.7
Live and Let Die                 1973        Guy Hamilton    30.8
Moonraker                        1979       Lewis Gilbert    91.5
Never Say Never Again            1983      Irvin Kershner    86.0
Octopussy                        1983           John Glen    53.9
On Her Majesty's Secret Service  1969       Peter R. Hunt    37.3
Quantum of Solace                2008        Marc Forster   181.4
Skyfall                          2012          Sam Mendes   170.2
Spectre                          2015          Sam Mendes   206.3
The Living Daylights             1987           John Glen    68.8
The Man with the Golden Gun      1974        Guy Hamilton    27.7
The Spy Who Loved Me             1977       Lewis Gilbert    45.1
The World Is Not Enough          1999       Michael Apted   158.3
Thunderball                      1965       Terence Young    41.9
Tomorrow Never Dies              1997  Roger Spottiswoode   133.9
You Only Live Twice              1967       Lewis Gilbert    59.9

In [63]:
del bond["Director"]

In [64]:
del bond["Year"]

In [65]:
bond

                                 Budget
Film
A View to a Kill                   54.5
Casino Royale                     145.3
Casino Royale                      85.0
Diamonds Are Forever               34.7
Die Another Day                   154.2
Dr. No                              7.0
For Your Eyes Only                 60.2
From Russia with Love              12.6
GoldenEye                          76.9
Goldfinger                         18.6
Licence to Kill                    56.7
Live and Let Die                   30.8
Moonraker                          91.5
Never Say Never Again              86.0
Octopussy                          53.9
On Her Majesty's Secret Service    37.3
Quantum of Solace                 181.4
Skyfall                           170.2
Spectre                           206.3
The Living Daylights               68.8
The Man with the Golden Gun        27.7
The Spy Who Loved Me               45.1
The World Is Not Enough           158.3
Thunderball                        41.9
Tomorrow Never Dies               133.9
You Only Live Twice                59.9

## Create Random Sample

In [66]:
bond = pd.read_csv("jamesbond.csv", index_col = "Film")
bond.sort_index(inplace = True)
bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [67]:
bond.sample(n = 3, axis = "columns")

,Director,Actor,Bond Actor Salary
Film,,,
A View to a Kill,John Glen,Roger Moore,9.1
Casino Royale,Martin Campbell,Daniel Craig,3.3
Casino Royale,Ken Hughes,David Niven,NaN
Diamonds Are Forever,Guy Hamilton,Sean Connery,5.8
Die Another Day,Lee Tamahori,Pierce Brosnan,17.9
Dr. No,Terence Young,Sean Connery,0.6
For Your Eyes Only,John Glen,Roger Moore,NaN
From Russia with Love,Terence Young,Sean Connery,1.6
GoldenEye,Martin Campbell,Pierce Brosnan,5.1
Goldfinger,Guy Hamilton,Sean Connery,3.2
Licence to Kill,John Glen,Timothy Dalton,7.9
Live and Let Die,Guy Hamilton,Roger Moore,NaN
Moonraker,Lewis Gilbert,Roger Moore,NaN
Never Say Never Again,Irvin Kershner,Sean Connery,NaN
Octopussy,John Glen,Roger Moore,7.8
On Her Majesty's Secret Service,Peter R. Hunt,George Lazenby,0.6
Quantum of Solace,Marc Forster,Daniel Craig,8.1
Skyfall,Sam Mendes,Daniel Craig,14.5
Spectre,Sam Mendes,Daniel Craig,NaN
The Living Daylights,John Glen,Timothy Dalton,5.2
The Man with the Golden Gun,Guy Hamilton,Roger Moore,NaN
The Spy Who Loved Me,Lewis Gilbert,Roger Moore,NaN
The World Is Not Enough,Michael Apted,Pierce Brosnan,13.5
Thunderball,Terence Young,Sean Connery,4.7
Tomorrow Never Dies,Roger Spottiswoode,Pierce Brosnan,10.0
You Only Live Twice,Lewis Gilbert,Sean Connery,4.4

## The `.nsmallest()` and `.nlargest()` Methods

In [68]:
bond = pd.read_csv("jamesbond.csv", index_col = "Film")
bond.sort_index(inplace = True)
bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [69]:
bond.sort_values("Box Office", ascending = False).head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2

In [70]:
bond.nlargest(3, columns = "Box Office")

bond.nsmallest(n = 2, columns = "Box Office")

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1

In [71]:
bond.nlargest(3, columns = "Budget")

bond.nsmallest(n = 6, columns = "Bond Actor Salary")

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

In [72]:
bond["Box Office"].nlargest(8)

bond["Year"].nsmallest(2)

Film
Skyfall                  943.5
Thunderball              848.1
Goldfinger               820.4
Spectre                  726.7
Casino Royale            581.5
From Russia with Love    543.8
Moonraker                535.0
The Spy Who Loved Me     533.0
Name: Box Office, dtype: float64

Film
Dr. No                   1962
From Russia with Love    1963
Name: Year, dtype: int64

## Filtering with the `where` Method
<font color = 'red'>
returns the complete original dataset, even though we are filtering.
</font>

In [73]:
bond = pd.read_csv("jamesbond.csv", index_col = "Film")
bond.sort_index(inplace = True)
bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [74]:
mask = bond["Actor"] == "Sean Connery"
bond[mask]

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

In [75]:
bond.where(mask).dropna()

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Diamonds Are Forever,1971.0,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Dr. No,1962.0,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963.0,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964.0,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Thunderball,1965.0,Sean Connery,Terence Young,848.1,41.9,4.7
You Only Live Twice,1967.0,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

In [76]:
bond

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

In [77]:
bond.where(bond["Box Office"] > 800)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,NaN,NaN,NaN,NaN,NaN,NaN
Casino Royale,NaN,NaN,NaN,NaN,NaN,NaN
Casino Royale,NaN,NaN,NaN,NaN,NaN,NaN
Diamonds Are Forever,NaN,NaN,NaN,NaN,NaN,NaN
Die Another Day,NaN,NaN,NaN,NaN,NaN,NaN
Dr. No,NaN,NaN,NaN,NaN,NaN,NaN
For Your Eyes Only,NaN,NaN,NaN,NaN,NaN,NaN
From Russia with Love,NaN,NaN,NaN,NaN,NaN,NaN
GoldenEye,NaN,NaN,NaN,NaN,NaN,NaN
Goldfinger,1964.0,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,NaN,NaN,NaN,NaN,NaN,NaN
Live and Let Die,NaN,NaN,NaN,NaN,NaN,NaN
Moonraker,NaN,NaN,NaN,NaN,NaN,NaN
Never Say Never Again,NaN,NaN,NaN,NaN,NaN,NaN
Octopussy,NaN,NaN,NaN,NaN,NaN,NaN
On Her Majesty's Secret Service,NaN,NaN,NaN,NaN,NaN,NaN
Quantum of Solace,NaN,NaN,NaN,NaN,NaN,NaN
Skyfall,2012.0,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,NaN,NaN,NaN,NaN,NaN,NaN
The Living Daylights,NaN,NaN,NaN,NaN,NaN,NaN
The Man with the Golden Gun,NaN,NaN,NaN,NaN,NaN,NaN
The Spy Who Loved Me,NaN,NaN,NaN,NaN,NaN,NaN
The World Is Not Enough,NaN,NaN,NaN,NaN,NaN,NaN
Thunderball,1965.0,Sean Connery,Terence Young,848.1,41.9,4.7
Tomorrow Never Dies,NaN,NaN,NaN,NaN,NaN,NaN
You Only Live Twice,NaN,NaN,NaN,NaN,NaN,NaN

In [78]:
mask2 = bond["Box Office"] > 800

In [79]:
bond.where(mask & mask2)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,NaN,NaN,NaN,NaN,NaN,NaN
Casino Royale,NaN,NaN,NaN,NaN,NaN,NaN
Casino Royale,NaN,NaN,NaN,NaN,NaN,NaN
Diamonds Are Forever,NaN,NaN,NaN,NaN,NaN,NaN
Die Another Day,NaN,NaN,NaN,NaN,NaN,NaN
Dr. No,NaN,NaN,NaN,NaN,NaN,NaN
For Your Eyes Only,NaN,NaN,NaN,NaN,NaN,NaN
From Russia with Love,NaN,NaN,NaN,NaN,NaN,NaN
GoldenEye,NaN,NaN,NaN,NaN,NaN,NaN
Goldfinger,1964.0,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,NaN,NaN,NaN,NaN,NaN,NaN
Live and Let Die,NaN,NaN,NaN,NaN,NaN,NaN
Moonraker,NaN,NaN,NaN,NaN,NaN,NaN
Never Say Never Again,NaN,NaN,NaN,NaN,NaN,NaN
Octopussy,NaN,NaN,NaN,NaN,NaN,NaN
On Her Majesty's Secret Service,NaN,NaN,NaN,NaN,NaN,NaN
Quantum of Solace,NaN,NaN,NaN,NaN,NaN,NaN
Skyfall,NaN,NaN,NaN,NaN,NaN,NaN
Spectre,NaN,NaN,NaN,NaN,NaN,NaN
The Living Daylights,NaN,NaN,NaN,NaN,NaN,NaN
The Man with the Golden Gun,NaN,NaN,NaN,NaN,NaN,NaN
The Spy Who Loved Me,NaN,NaN,NaN,NaN,NaN,NaN
The World Is Not Enough,NaN,NaN,NaN,NaN,NaN,NaN
Thunderball,1965.0,Sean Connery,Terence Young,848.1,41.9,4.7
Tomorrow Never Dies,NaN,NaN,NaN,NaN,NaN,NaN
You Only Live Twice,NaN,NaN,NaN,NaN,NaN,NaN

## The `.query()` Method

In [80]:
bond = pd.read_csv("jamesbond.csv", index_col = "Film")
bond.sort_index(inplace = True)
bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [81]:
bond.columns = [column_name.replace(" ", "_") for column_name in bond.columns]
bond.head(1)

,Year,Actor,Director,Box_Office,Budget,Bond_Actor_Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1

In [82]:
bond.query('Actor == "Sean Connery"')
bond.query("Director == 'Terence Young'")
bond.query("Actor != 'Roger Moore'")

,Year,Actor,Director,Box_Office,Budget,Bond_Actor_Salary
Film,,,,,,
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

,Year,Actor,Director,Box_Office,Budget,Bond_Actor_Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7

,Year,Actor,Director,Box_Office,Budget,Bond_Actor_Salary
Film,,,,,,
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

In [83]:
bond.query("Box_Office > 600")

,Year,Actor,Director,Box_Office,Budget,Bond_Actor_Salary
Film,,,,,,
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7

In [84]:
bond.query("Actor == 'Roger Moore' or Director == 'John Glen'")

,Year,Actor,Director,Box_Office,Budget,Bond_Actor_Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN

In [85]:
bond.query("Actor in ['Timothy Dalton', 'George Lazenby']")

bond.query("Actor not in ['Sean Connery', 'Roger Moore']")

,Year,Actor,Director,Box_Office,Budget,Bond_Actor_Salary
Film,,,,,,
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2

,Year,Actor,Director,Box_Office,Budget,Bond_Actor_Salary
Film,,,,,,
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0

## A Review of the `.apply()` Method on Single Columns

In [86]:
bond = pd.read_csv("jamesbond.csv", index_col = "Film")
bond.sort_index(inplace = True)
bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [87]:
def convert_to_string_and_add_millions(number):
    return str(number) + " MILLIONS!"

In [88]:
columns = ["Box Office", "Budget", "Bond Actor Salary"]
for col in columns:
    bond[col] = bond[col].apply(convert_to_string_and_add_millions)

In [89]:
bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2 MILLIONS!,54.5 MILLIONS!,9.1 MILLIONS!
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5 MILLIONS!,145.3 MILLIONS!,3.3 MILLIONS!
Casino Royale,1967,David Niven,Ken Hughes,315.0 MILLIONS!,85.0 MILLIONS!,nan MILLIONS!

## The `.apply()` Method with Row Values

In [90]:
bond = pd.read_csv("jamesbond.csv", index_col = "Film")
bond.sort_index(inplace = True)
bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [91]:
def good_movie(row):
    
    actor = row[1]
    budget = row[4]
    
    if actor == "Pierce Brosnan":
        return "The best"
    elif actor == "Roger Moore" and budget > 40:
        return "Enjoyable"
    else:
        return "I have no clue"

toadd = bond.apply(good_movie, axis = "columns")

In [92]:
bond.insert(len(bond.columns), column = "review", value= toadd)

In [93]:
toadd
bond

Film
A View to a Kill                        Enjoyable
Casino Royale                      I have no clue
Casino Royale                      I have no clue
Diamonds Are Forever               I have no clue
Die Another Day                          The best
Dr. No                             I have no clue
For Your Eyes Only                      Enjoyable
From Russia with Love              I have no clue
GoldenEye                                The best
Goldfinger                         I have no clue
Licence to Kill                    I have no clue
Live and Let Die                   I have no clue
Moonraker                               Enjoyable
Never Say Never Again              I have no clue
Octopussy                               Enjoyable
On Her Majesty's Secret Service    I have no clue
Quantum of Solace                  I have no clue
Skyfall                            I have no clue
Spectre                            I have no clue
The Living Daylights               I have no clue
The Man with the Golden Gun        I have no clue
The Spy Who Loved Me                    Enjoyable
The World Is Not Enough                  The best
Thunderball                        I have no clue
Tomorrow Never Dies                      The best
You Only Live Twice                I have no clue
dtype: object

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary,review
Film,,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1,Enjoyable
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3,I have no clue
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN,I have no clue
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8,I have no clue
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9,The best
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6,I have no clue
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN,Enjoyable
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6,I have no clue
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1,The best
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2,I have no clue
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9,I have no clue
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN,I have no clue
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN,Enjoyable
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN,I have no clue
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8,Enjoyable
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6,I have no clue
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1,I have no clue
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5,I have no clue
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN,I have no clue
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2,I have no clue
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN,I have no clue
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN,Enjoyable
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5,The best
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7,I have no clue
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0,The best
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4,I have no clue

## The `.copy()` Method

In [94]:
bond = pd.read_csv("jamesbond.csv", index_col = "Film")
bond.sort_index(inplace = True)
bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [95]:
directors = bond["Director"]
directors.head(3)

Film
A View to a Kill          John Glen
Casino Royale       Martin Campbell
Casino Royale            Ken Hughes
Name: Director, dtype: object

In [96]:
directors["A View to a Kill"] = "Mister John Glen"

C:\Users\Abhishek\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [97]:
directors.head(3)

Film
A View to a Kill    Mister John Glen
Casino Royale        Martin Campbell
Casino Royale             Ken Hughes
Name: Director, dtype: object

In [98]:
bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,Mister John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [99]:
directors = bond["Director"].copy()
directors.head(3)

Film
A View to a Kill    Mister John Glen
Casino Royale        Martin Campbell
Casino Royale             Ken Hughes
Name: Director, dtype: object

In [100]:
directors["A View to a Kill"] = "Mister John Glen"

In [101]:
directors.head(3)

Film
A View to a Kill    Mister John Glen
Casino Royale        Martin Campbell
Casino Royale             Ken Hughes
Name: Director, dtype: object

In [102]:
bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,Mister John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN